<app-header pageTitle="Avatar"></app-header>

<ion-content>
    <ion-avatar>
        <img src="/assets/image.png" />
    </ion-avatar>

    <ion-chip color="primary">
        <ion-avatar>
            <img src="/assets/image.png" />
        </ion-avatar>
        <ion-label>Default</ion-label>
    </ion-chip>

    <ion-list>
        <ion-item >
            <ion-avatar slot="start">
                <img src="/assets/image.png" />
            </ion-avatar>
            <ion-label>Guaca</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
